footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #F4F4F4;
  padding: 20px;

  .footer-nav-container {
    font-size: 1.6rem;
    padding: 20px;

    a {
      text-decoration: none;
      color: black;
      transition: all .5s ease;
    }

    .link {
      font-size: 1.6rem;

      &:hover {
        transform: scale(1.1);
        color: #0093FF;
      }
    }

    span {
      margin: 0 5px;
    }
  }

  small {
    font-size: 1.6rem;
  }
}
