.header-container {
  background-image: url(../assets/header.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
  color: #fff;

  h1, h4 {
    margin-bottom: 30px;
  }

  .cta-button {
    border: 2px solid #0093FF;
    border-radius: 5px;
    background-color: #0093FF;
    color: #fff;
    font-size: 2rem;
    padding: 15px 30px;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    transition: all .5s ease;

    &:hover {
      border: 2px solid #fff;
      background-color: #00000000;
      color: #fff;
    }
  }
}
