.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    a {
      color: #fff;
      text-decoration: none;
      transition: all .5s ease;
    }

    .link {
      font-size: 1.6rem;

      &:hover {
        transform: scale(1.5);
        color: #0093FF;
      }
    }

    .logo {
      font-size: 2.4rem;

      &:hover {
        transform: scale(1.1);
        color: #0093FF;
      }
    }
  }
}//Landing Page

.about-header {
  background-color: #F4F4F4;
  padding-bottom: 20px;
  .nav-container {

    .logo{
      color: #303030;
    }

    .link {
      color: #303030;
    }
  }
}
