.navbar {
  width: 100%;
  height: auto;
  .flex(flex, row, center);
  padding-top: 30px;

  .nav-container {
    .flex(flex, row, space-around);
    align-items: center;
    width: 50%;

    a {
      color: #fff;
      text-decoration: none;
      transition: all .5s ease;
    }

    .link {
      font-size: 1.6rem;

      &:hover {
        transform: scale(1.5);
        color: @ctaBlue;
      }
    }

    .logo {
      font-size: 2.4rem;

      &:hover {
        transform: scale(1.1);
        color: @ctaBlue;
      }
    }
  }
}//Landing Page

.about-header {
  background-color: @offWhite;
  padding-bottom: 20px;
  .nav-container {

    .logo{
      color: @shadedBlack;
    }

    .link {
      color: @shadedBlack;
    }
  }
}
