@shadedBlack: #303030;
@offWhite: #F4F4F4;
@ctaBlue: #0093FF;
@transparent: #00000000;
@transparent60: #00000099;
@cardBg: #FBFBFB;

// Escapes
@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
